* {
    box-sizing: border-box;
}

input { width:1.2em; text-align: center; border: none; font-size: 24px; color: rgb(0,122,255); }
input[readonly] { color: rgb(50,50,50); }
table { border-collapse: collapse; }
td { border: 1px solid #ccc; }
button { font-size: 24px; }
