<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../assets/style.css">
	<title>Sudoku</title>
</head>
<body>
	<form>
		<panel>
			<div class="panel-title">Sudoku</div>
			<div class="panel-body">
				<div class="quadrante">
					<input class="Lin0 Col0 lin0 col0" id="0000" type="number" min="0" max="9" maxlength="1">
					<input class="Lin0 Col0 lin0 col1" id="0001" type="number" min="0" max="9">
					<input class="Lin0 Col0 lin0 col2" id="0002" type="number" min="0" max="9">
					<input class="Lin0 Col0 lin1 col0" id="0010" type="number" min="0" max="9">
					<input class="Lin0 Col0 lin1 col1" id="0011" type="number" min="0" max="9">
					<input class="Lin0 Col0 lin1 col2" id="0012" type="number" min="0" max="9">
					<input class="Lin0 Col0 lin2 col0" id="0020" type="number" min="0" max="9">
					<input class="Lin0 Col0 lin2 col1" id="0021" type="number" min="0" max="9">
					<input class="Lin0 Col0 lin2 col2" id="0022" type="number" min="0" max="9">
				</div>
			</div>
		</panel>
		<input type="button" onclick="" value="Resolver">
	</form>
</body>
	<script type="text/javascript">
		function collector(form) {
			
		}

	</script>
</html>