<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../assets/style.css">
	<title>Sudoku</title>
</head>
<body>
	<div class="container">
		<table>
			<tbody>
				<tr>
					<td><input></td>
					<td><input></td>
					<td><input></td>
					<td><input readonly="" value="9"></td>
					<td><input readonly="" value="5"></td>
					<td><input readonly="" value="2"></td>
					<td><input readonly="" value="6"></td>
					<td><input></td>
					<td><input readonly="" value="4"></td>
				</tr>
				<tr>
					<td><input></td>
					<td><input readonly="" value="4"></td>
					<td><input readonly="" value="2"></td>
					<td><input readonly="" value="6"></td>
					<td><input></td>
					<td><input></td>
					<td><input></td>
					<td><input></td>
					<td><input readonly="" value="8"></td>
				</tr>
				<tr>
					<td><input></td>
					<td><input></td>
					<td><input></td>
					<td><input readonly="" value="8"></td>
					<td><input readonly="" value="7"></td>
					<td><input></td>
					<td><input></td>
					<td><input readonly="" value="2"></td>
					<td><input></td>
				</tr>
				<tr>
					<td><input readonly="" value="7"></td>
					<td><input readonly="" value="2"></td>
					<td><input readonly="" value="3"></td>
					<td><input></td>
					<td><input readonly="" value="6"></td>
					<td><input></td>
					<td><input></td>
					<td><input></td>
					<td><input readonly="" value="5"></td>
				</tr>
				<tr>
					<td><input readonly="" value="6"></td>
					<td><input></td>
					<td><input></td>
					<td><input></td>
					<td><input></td>
					<td><input></td>
					<td><input></td>
					<td><input></td>
					<td><input readonly="" value="3"></td>
				</tr>
				<tr>
					<td><input readonly="" value="5"></td>
					<td><input></td>
					<td><input></td>
					<td><input></td>
					<td><input readonly="" value="3"></td>
					<td><input></td>
					<td><input readonly="" value="9"></td>
					<td><input readonly="" value="1"></td>
					<td><input readonly="" value="6"></td>
				</tr>
				<tr>
					<td><input></td>
					<td><input readonly="" value="5"></td>
					<td><input></td>
					<td><input></td>
					<td><input readonly="" value="9"></td>
					<td><input readonly="" value="1"></td>
					<td><input></td>
					<td><input></td>
					<td><input></td>
				</tr>
				<tr>
					<td><input readonly="" value="1"></td>
					<td><input></td>
					<td><input></td>
					<td><input></td>
					<td><input></td>
					<td><input readonly="" value="5"></td>
					<td><input readonly="" value="3"></td>
					<td><input readonly="" value="9"></td>
					<td><input></td>
				</tr>
				<tr>
					<td><input readonly="" value="4"></td>
					<td><input></td>
					<td><input readonly="" value="9"></td>
					<td><input readonly="" value="7"></td>
					<td><input readonly="" value="2"></td>
					<td><input readonly="" value="6"></td>
					<td><input></td>
					<td><input></td>
					<td><input></td>
				</tr>
			</tbody>
		</table>
	<p><button id="btn-solve">Solve</button></p>
</div>
</body>
	<script type="text/javascript" src="../assets/script.js"></script>
</html>
